<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <!-- 设置移动端浏览效果 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
          data-filtered="filtered">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
    <!-- 导航 -->
    <nav th:replace="admin/_fragments::menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">后台管理</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1/100/100" alt="">
                            GJZ
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <br>
    <br>
    <br>

    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">

            <!-- 留言区域 -->
            <div class="ui bottom attached segment">
                <!-- 留言区域列表 -->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100% !important;">
                            <h3 class="ui dividing header">评论</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="https://picsum.photos/id/1/100/100" th:src="@{${comment.avatar}}">
                                </a>
                                <div class="content">
                                    <a class="author">
                                        <span th:text="${comment.nickname}">Matt</span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>
                                    </a>
                                    <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                    </div>
                                    <div class="ui mini button" id="delComment-btn">
                                        <a href="#" th:href="@{/admin/deleteComment/{blogId}/{commentId}(blogId=${blogId},commentId=${comment.id})}">
                                            <i class="close red icon"></i>删除
                                        </a>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        How artistic!
                                    </div>
<!--                                    <div class="actions">-->
<!--                                        <a class="reply" data-commentid="1" data-commentnickname="Matt"-->
<!--                                           th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}"-->
<!--                                           onclick="reply(this)">回复</a>-->
<!--                                    </div>-->
                                </div>

                                <div class="comments" th:if="${#arrays.length(comment.replyComment)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComment}">
                                        <a class="avatar">
                                            <img src="https://picsum.photos/id/1/100/100" th:src="@{${reply.avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span th:text="${reply.nickname}">Matt</span>&nbsp;
                                                <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>
                                                <span th:text="|@ ${reply.parentComment.nickname}|" class="m-teal">@ Tom</span>
                                            </a>
                                            <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                            </div>
                                            <div class="ui mini button" id="delComment-btn">
                                                <a href="#" th:href="@{/admin/deleteComment/{blogId}/{commentId}(blogId=${blogId},commentId=${comment.id})}">
                                                    <i class="close red icon"></i>删除
                                                </a>
                                            </div>
                                            <div class="text" th:text="${reply.content}">
                                                How artistic!
                                            </div>
<!--                                            <div class="actions">-->
<!--                                                <a class="reply" data-commentid="1" data-commentnickname="Matt"-->
<!--                                                   th:attr="data-commentid=${reply.id}, data-commentnickname=${reply.nickname}"-->
<!--                                                   onclick="reply(this)">回复</a>-->
<!--                                            </div>-->
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/*-->
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://picsum.photos/id/1/100/100">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://picsum.photos/id/1/100/100">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                            <div class="actions">
                                                <a class="reply">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://picsum.photos/id/1/100/100">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        Dude, this is awesome. Thanks so much
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                            <!--*/-->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <br>
    <!-- 底部footer -->
    <footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/wechatQRCode.jpg" class="ui rounded image" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:gjz0117@163.com</a>
                        <a href="#" class="item">Twitter:GJZ0117</a>
                        <a href="#" class="item">QQ:435390736</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-opacity-mini">这是我的个人博客，会分享关于编程、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">CopyRight © 2022 GJZ Designed by GJZ</p>
        </div>
    </footer>

    <!--/*/<th:block th:replace="admin/_fragments::script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->


    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide')
        });


        $(function () {
            let blogId = $("[name='blog.id']").val();
            let commentListUrl = "/admin/comments/" + blogId;
            $("#comment-container").load(commentListUrl);
        });


        // $("#commentPost-btn").click(function () {
        //     var boo = $('.ui.form').form('validate form');
        //     if (boo) {
        //         console.log("校验成功");
        //         postData();
        //         clearContent();
        //     } else {
        //         console.log("校验失败");
        //     }
        // });

        // function postData() {
        //     $("#comment-container").load("/comments", {
        //         "parentComment.id": $("[name='parentComment.id']").val(),
        //         "blog.id": $("[name='blog.id']").val(),
        //         "nickname": $("[name='nickname']").val(),
        //         "email": $("[name='email']").val(),
        //         "content": $("[name='content']").val()
        //     }, function (responseTxt, statusTxt, xhr) {
        //         // $(window).scrollTo($('#comment-container'), 500);
        //         // clearContent();
        //     });
        // }

    </script>
</body>
</html>